<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="GitHub" value="https://nuget.pkg.github.com/v-avilla/index.json" />
  </packageSources>
  <packageSourceCredentials>
        <github>
            <add key="Username" value="v-avilla" />
            <add key="ClearTextPassword" value="edf5f4910c6e099b045f60124758c17468e76bc8" />
        </github>
   </packageSourceCredentials>
</configuration>