<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="GitHub" value="https://nuget.pkg.github.com/v-avilla/index.json" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
        <github>
            <add key="Username" value="v-avilla" />
            <add key="ClearTextPassword" value="c2c5dfed44da5278d01287e86a98de576299aaf2" />
        </github>
   </packageSourceCredentials>
</configuration>